<!-- <h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>
 -->


<div class="ind-art-div" id="text-center">
  <h2 class="act-title"><%= @article.title%></h2>
  <p><%= @article.content%></p>
</div>
